/*Limpar formatações padrões*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
 */

#area-cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;
}
#area-logo, #area-menu{
    padding: 10px;
}
#area-principal{
    width: 920px;
    margin: 0 auto;
}
#area-postagens, #area-lateral{
    background: orange;
}
#area-postagens{
    width: 660px;
    float: left;
}
#area-lateral{
    width: 240px;
    float: right;
}
#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}
/*
**** Formatação do Menu ****
 */
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #fff;
    padding: 8px 12px;
}
a:hover{
    color: #f7b600;
    background: #fff;

}
/*
**** Formatações gerais ****
 */
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco{
    color: #fff;
}