body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	height: 100%;
}
.conteudo{
	color: #777;
	background: #fff;
	text-align: justify;
	padding: 50px 80px;
}
h3{
	text-transform: uppercase;
	color: #111;
	text-align: center;
}
p{
	margin-bottom: 20px;
}
/* Efeito Parallax
******************/
.caixa1, .caixa2, .caixa3, .caixa4{
	position: relative;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.caixa1{
	background-image: url(../img/imagem1.jpg);
	background-size: cover;
}
.caixa2{
	background-image: url(../img/imagem2.jpg);
	background-size: cover;
}
.caixa3{
	background-image: url(../img/imagem3.jpg);
	background-size: cover;
}
.caixa4{
	background-image: url(../img/imagem4.jpg);
	background-size: cover;
}
.conteudo-titulo{
	position: absolute;
	left: 0%;
	top: 45%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;

}
.conteudo-titulo span.titulo{
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
}